<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    {{htmlWebpackPlugin.options.title}}
  </title>
</head>

<body>
  {{> partials/header}}
  <div class="content">
    News
  </div>
  {{> partials/footer}}
</body>

</html>
